<% layout('client/layouts/boilerplate') -%>

<main>
  <!-- SIDEBAR -->
  <%- include('./layouts/sidebar') %>

  <!-- MAIN CONTENT STARTS HERE -->
  <div class="main-content" id="content">
    <div class="view-book-container">
      <h1 class="book-title">
        CHSE Odisha Plus Two Banking & Insurance Book PDF, +2 Commerce 2024
      </h1>
      <div class="book-content">
        <div class="book-info">
          <div>
            <div id="publsih-date">
              <i class="fa-regular fa-clock"></i>
              <p id="date">20 Jun 2024</p>
            </div>
            <div class="share-bookMark">
              <i class="fa-regular fa-bookmark"></i>
              <i class="fa-regular fa-share-from-square"></i>
            </div>
          </div>
          <!-- TBALE -->
          <table>
            <tbody>
              <tr>
                <td>Class Name</td>
                <td id="className">Class 1</td>
              </tr>
              <tr>
                <td>Language</td>
                <td id="bookLang">English</td>
              </tr>
              <tr>
                <td>Publish Year</td>
                <td id="pubYear">2024</td>
              </tr>
              <tr>
                <td>Publisher</td>
                <td id="Publisher">BSE Odisha</td>
              </tr>
            </tbody>
          </table>
          <!-- <span><i class="fa-solid fa-star"></i> DESCRIPTION:</span> -->
          <p class="description">
            The CHSE Odisha +2 Commerce Business Mathematics Book PDF for Plus
            Two 1st Year and 2nd Year is approved by the Council of Higher
            Secondary Education of Odisha and prepared by senior experts with
            in-depth knowledge of each subject. Before reviewing the curriculum
            overview, check the textbooks PDF section where you can find the
            CHSE Odisha Plus Two Business Mathematics Books PDF.
          </p>
          <!-- NOTE -->
          <p class="note">
            If you find any outdated subjects with unavailable download links,
            please feel free to leave a comment below.
          </p>
        </div>
        <div class="book-media">
          <img
            id="view-book-image"
            src="https://studyinsta.com/wp-content/uploads/2023/01/CHSE-Odisha-Plus-Two-Banking-Insurance-Book.webp"
            alt=""
          />
          <div id="book-file">
            <button class="download-book">
              <i class="fa-solid fa-download"></i> Download
            </button>
            <button class="read-book-online">
              <i class="fa-solid fa-eye"></i> Read Online
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTR STARTS HERE -->
    <%- include('./layouts/footer') %>
  </div>
  <!-- MAIN CONTENT ENDS HERE -->
</main>
