<% layout('client/layouts/boilerplate') -%>

<main>
  <!-- SIDEBAR -->
  <%- include('./layouts/sidebar') %>

  <!-- MAIN CONTENT STARTS HERE -->
  <div class="main-content" id="content">
    <!-- DATA  -->
    <div class="books">
      <div class="card-container"></div>
      <div class="more-item">
        <button class="more-btn">Load More</button>
      </div>
    </div>
    <!-- FOOTR STARTS HERE -->
    <div class="footer">
      <div class="line"></div>
      <div class="copyright">
        <div><p>&copy; 2024. StudyInsta</p></div>
        <div>
          <i class="fa-brands fa-github"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT ENDS HERE -->
</main>
