<% layout('dashboard/layouts/boilerplate') -%>

<main>
  <!-- SIDEBAR -->
  <%- include('./layouts/sidebar') %>

  <div class="main-content">
    <div class="container">
      <h1>All Books</h1>
      <div class="all-posts"></div>
      <div class="view-more-item"><button>Load More</button></div>
    </div>
    <!-- FOOTR STARTS HERE -->
    <%- include('../dashboard/layouts/footer') %>
  </div>
</main>
