<!-- SHARE MODEL -->
<div class="overlay"></div>
<div class="share-model">
  <div class="popup">
    <div class="header">
      <h4>Share to other apps</h4>
      <i class="fa-solid fa-xmark closeShareModel"></i>
    </div>
    <div class="share-apps">
      <div>
        <i class="fa-solid fa-link" id="copyLink"></i>
        <p>Copy Link</p>
      </div>
      <div>
        <i class="fa-brands fa-square-facebook" id="facebook"></i>
        <p>Facebook</p>
      </div>
      <div>
        <i class="fa-brands fa-square-whatsapp" id="whatsapp"></i>
        <p>Whatsapp</p>
      </div>
      <div>
        <i class="fa-brands fa-telegram" id="telegram"></i>
        <p>Telegram</p>
      </div>
      <div>
        <i class="fa-brands fa-linkedin" id="linkedin"></i>
        <p>Linkedin</p>
      </div>

      <div>
        <i class="fa-brands fa-square-tumblr" id="tumblr"></i>
        <p>Tumblr</p>
      </div>

      <div>
        <i class="fa-brands fa-square-reddit" id="reddit"></i>
        <p>Reddit</p>
      </div>

      <div>
        <i class="fa-regular fa-envelope" id="email"></i>
        <p>Email</p>
      </div>
    </div>
  </div>
</div>
