<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chnage Password</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/styles/user/user.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <!-- Toast Message -->
    <div class="toast">
      <i class="fa-regular fa-bell"></i>
      <div class="toast-message"></div>
    </div>

    <!-- SIGN UP CONTAINER STARTS HERE -->
    <main class="autho-container">
      <div class="container">
        <!-- LEFT SECTION -->
        <div class="autho-left">
          <h1 class="heading">
            Chnage <br />
            Your Password
          </h1>
          <p class="autho-para">
            Create a Strong Password <br />
            in 7 Easy Steps
            <span
              ><a
                href="https://www.terranovasecurity.com/blog/how-to-create-a-strong-password-in-7-easy-steps"
                >Learn!</a
              ></span
            >
          </p>
        </div>
        <!-- MIDDLE SECTION -->
        <div class="autho-middle">
          <figure>
            <img
              src="https://res.cloudinary.com/drx2gahpl/image/upload/v1718603621/StudyInsta/Assets/%20illustrator/plnsaalzslzs8qldvgtg.svg"
              alt="illustrator"
            />
          </figure>
        </div>
        <!-- RIGH SECTION -->
        <div class="autho-right">
          <div class="autho-form">
            <div class="auth-heading-mobile">
              <h2>Chnage Password</h2>
            </div>
            <form id="chnage-password">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Current Password"
                required
              />
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                placeholder="Enter New Password"
                required
              />
              <p class="recover-password">Recover Password ?<a href="#"></a></p>
              <button type="submit" class="login-btn">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/script/global.js"></script>
    <script src="/script/auth.js"></script>
    <script src="/script/user.js"></script>
    <script
      src="https://kit.fontawesome.com/b90bc8d1f6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
