<div class="sidebar">
  <div class="nav">
    <div class="nav-option" style="opacity: 1">
      <i class="fa-solid fa-house"></i>
      <a class="nav-link" href="/">Home</a>
    </div>
    <div class="nav-option profile__nav" style="opacity: 1">
      <i class="fa-solid fa-user"></i>
      <a class="nav-link" href="/profile">Profile</a>
    </div>
    <div class="nav-option edit__profile__nav">
      <i class="fa-solid fa-pen-to-square"></i>
      <a class="nav-link" view="about" href="/profile/edit-profile"
        >Edit Profile</a
      >
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-lock"></i>
      <a class="nav-link" view="contact" href="/profile/change-password"
        >Password</a
      >
    </div>
  </div>

  <div class="break-line">
    <div class="nav-line"></div>
  </div>

  <div class="business-links">
    <div>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/copyright">Copyright</a>
      <a href="/privacy">Privacy</a>
      <a href="/disclaimer">Disclaimer</a>
      <a href="https://anilmoharana.com/" target="_blank">Developers</a>
    </div>
  </div>
</div>
