<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/styles/pageNotFound.css" />
  </head>
  <body>
    <main>
      <div>
        <img
          src="https://res.cloudinary.com/drx2gahpl/image/upload/v1718124729/StudyInsta/Assets/%20illustrator/pioiouqvlzkldq6evdrk.svg"
          alt="404"
        />
        <!-- <img src="./assets/404 error.svg" alt="404" /> -->
      </div>

      <div class="page-not-found">
        <h1 class="content">Oops, Page Not Found</h1>
        <p class="content">
          The page you are looking for might have been removed <br />had its
          name changed or is temporarily unavailable.
        </p>
        <a href="/"
          ><button><i class="fa-solid fa-arrow-left"></i> Home</button></a
        >
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/b90bc8d1f6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
