<div class="sidebar">
  <div class="nav">
    <div class="nav-option active-menu" style="opacity: 1">
      <i class="fa-solid fa-house"></i>
      <a class="nav-link" href="/">Home</a>
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-folder"></i>
      <a class="nav-link" view="about" href="/about">Primary Book</a>
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-folder"></i>
      <a class="nav-link" view="contact" href="#">BSE Odisha</a>
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-folder"></i>
      <a class="nav-link" href="#">CHSE Odisha</a>
    </div>
  </div>

  <div class="break-line">
    <div class="nav-line"></div>
  </div>

  <div class="business-links">
    <div>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Copyright</a>
      <a href="">Privacy</a>
      <a href="">Disclaimer</a>
      <a href="">Developers</a>
    </div>
  </div>
</div>
