<div class="footer">
  <div class="line"></div>
  <div class="copyright">
    <div><p>&copy; 2024. BilimTook</p></div>
    <div>
      <a href=""><i class="fa-brands fa-github"></i></a>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </div>
</div>
