<header>
  <div>
    <!-- Hamburger Menu *Display on Mobile Devies -->
    <i class="fa-solid fa-bars hamburger-menu"></i>
    <!-- Logo -->
    <img
      class="logo"
      src="https://studyinsta.com/wp-content/uploads/2023/09/StudyInsta-Header.svg"
      alt="StudyInsta"
    />
    <!-- Search Book *Hide on Mobile Devies -->
    <i class="fa-solid fa-magnifying-glass serach-icon"></i>
    <input class="serach-box" type="text" placeholder="e.g. Textbooks" />
  </div>
  <div class="user-section">
    <!-- Login Button -->
    <a href="/login" class="login-button hide"
      ><button class="login-btn">Login</button></a
    >
    <!-- User Profile -->
    <div class="user hide">
      <!-- <i class="fa-regular fa-user user-icon"></i> -->
      <div class="user-profile">
        <img
          id="user-avatar"
          src="../../assets/profileImage.png"
          alt="User Profile"
        />
      </div>

      <div class="user-profile-popup">
        <div class="user-option dash__board">
          <i class="fa-solid fa-gauge"></i>
          <a href="/dashboard">Dashboard</a>
        </div>
        <div class="user-option">
          <i class="fa-regular fa-user"></i>
          <a href="/profile">My Account</a>
        </div>
        <div class="user-option logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <p>Logout</p>
        </div>
      </div>
    </div>
    <!-- <i class="fa-regular fa-user user-icon"></i> -->
  </div>
  <!-- Toast Message -->
  <div class="toast">
    <i class="fa-regular fa-bell"></i>
    <div class="toast-message">Hello</div>
  </div>
  <!-- PROGRESS STATUS -->
  <div class="progress-status">
    <i class="fa-solid fa-spinner"></i>
    <div class="progress-message">Loading...</div>
  </div>
</header>
