@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* THEME COLOR */
:root {
  --bg-color: #f6f6f6;
  --primary-color: #1d8156;
  --toast-color: #00ffff;
  --progress-color: #04b3fe;
}

body {
  background-color: #f6f6f6;
}

/* DEFAULT STYLE */
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--font-color);
}

/* TOAST MESSAGE */
.toast {
  position: absolute;
  background-color: var(--toast-color);
  padding: 1.2rem 1rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.showToast {
    opacity: 1;
  }

  & .fa-bell {
    font-size: 2rem;
  }

  & .toast-message {
    font-size: 1.6rem;
    color: #020000;
    font-weight: 400;
  }
}

/* PROGRESS STATUS */
.progress-status {
  position: absolute;
  background-color: var(--progress-color);
  padding: 0.7rem 1rem;
  border-radius: 0.7rem; /* Unify border-radius declaration */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.showProgress {
    opacity: 1;
  }

  .fa-spinner {
    font-size: 1.2rem;
    color: #ffffff;
    animation: spin 1s linear infinite;
  }

  .progress-message {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* STYLING SCROLLBAR */

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1d8156;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #0d432c;
}
