<div class="footer">
  <div class="line"></div>
  <div class="copyright">
    <div><p>&copy; 2024. StudyInsta</p></div>
    <div>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </div>
</div>
