<div class="sidebar">
  <div class="nav">
    <div class="nav-option nav-dashboard" style="opacity: 1">
      <i class="fa-solid fa-gauge"></i>
      <a href="/dashboard">Dashboard</a>
    </div>
    <div class="nav-option nav-all">
      <i class="fa-solid fa-list"></i>
      <a href="/dashboard/all">All Books</a>
    </div>
    <div class="nav-option nav-add">
      <i class="fa-solid fa-plus"></i>
      <a href="/dashboard/add">Add Book</a>
    </div>
    <div class="nav-option nav-profile">
      <i class="fa-regular fa-user"></i>
      <a href="/profile">Profile</a>
    </div>
  </div>

  <div class="break-line">
    <div class="nav-line"></div>
  </div>

  <div class="business-links">
    <div>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Copyright</a>
      <a href="">Privacy</a>
      <a href="">Disclaimer</a>
      <a href="">Developers</a>
    </div>
  </div>

  <!-- Done -->
</div>
