<div class="sidebar">
  <div class="nav">
    <div class="nav-option" style="opacity: 1">
      <i class="fa-solid fa-gauge"></i>
      <a href="#">Dashboard</a>
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-list"></i>
      <a href="#">All Books</a>
    </div>
    <div class="nav-option">
      <i class="fa-solid fa-plus"></i>
      <a href="#">Add Book</a>
    </div>
    <div class="nav-option active-menu">
      <i class="fa-regular fa-user"></i>
      <a href="#">Profile</a>
    </div>
  </div>

  <div class="break-line">
    <div class="nav-line"></div>
  </div>

  <div class="business-links">
    <div>
      <a href="">About</a>
      <a href="">Contact</a>
      <a href="">Copyright</a>
      <a href="">Privacy</a>
      <a href="">Disclaimer</a>
      <a href="">Developers</a>
    </div>
  </div>

  <!-- Done -->
</div>
